.first-divider {
  position: relative;
  width: 100%;
  height: 20vh;
  overflow: hidden;
}

/* Background pattern */
.divider-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Overlay */
.divider-overlay {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 0 15px;
}

/* Main script text */
.divider-main {
  color: white;
  font-size: 4rem;
  line-height: 1.2;

  -webkit-text-stroke: 2px black;
  /* Ensures the stroke doesn't overlap/thin out the white center */
  paint-order: stroke fill;
}

/* Subtitle */
.divider-sub {
  margin-top: 3px;
  font-size: 1.5rem;
  letter-spacing: 3px;
  color: #f5b04c;
  -webkit-text-stroke: 2px black;
  /* Ensures the stroke doesn't overlap/thin out the white center */
  paint-order: stroke fill;
}

.gold {
  color: #f5b04c;
  font-family: "Great Vibes", cursive;
  display: inline-block; /* important */
  margin: 0 14px; /* controls the spacing */
}

/* 📱 Tablet */
@media (max-width: 768px) {
  .first-divider {
    height: 15vh;
  }

  .divider-main {
    font-size: 2rem;
  }

  .divider-sub {
    font-size: 1.1rem;
  }
}

/* 📱 Mobile */
@media (max-width: 480px) {
  .first-divider {
    height: 15vh;
  }
  .divider-main {
    font-size: 1.5rem;
  }

  .divider-sub {
    font-size: 0.9rem;
    letter-spacing: 2px;
  }
}
