@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Saira+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");
* {
  padding: 0;
  margin: 0;
  user-select: none;
  font-family: "Saira Condensed", sans-serif;
}

.rsvp-divider {
  width: 220px;
  height: 2px;
  background: #f5b04c;
  margin: 10px 0;
  position: relative;
}
